@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/static/Montserrat-Regular.ttf");
}
body {
    font-family: 'Montserrat';
}
h1 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    margin-bottom: -15px;
    text-transform: uppercase;
    color: rgb(148, 3, 3);
}
h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: -10px;
}
h3 {
    font-family: 'Montserrat';
    font-weight: 400;
}
.summary, .skills, .code, .work, .education, .english {
    margin-bottom: 30px;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.container {
    max-width: 1360px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
html {
    scroll-behavior: smooth; 
  }
.nav-list {
    list-style: none;
  }
.nav-link {
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color: beige;
}
.nav-link {
    transition: .3s;
  }
.header {
    width: 100%;
    background-color: #414141;
    height: 60px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
  }
@media (max-width: 768px) {
.section {
  width: 100%;
}
}
.footer {
    width: 100%;
    background-color: #414141;
    height: 80px;
    justify-content: center;
}
.logo_rs {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    float: right;
    height: 80px;
    margin-top: 20px;
}
.author {
    margin-left: 30px;
    align-items: center;
    color: beige;
    float: left;
    position: absolute;
    height: 80px;
}
.sidebar-container {
    position: relative;
    background-color: #FF8C00;
    width: 25%;
    float: left;
    height: 100%;
}
.content-container {
    width: 75%;
    float: right;
    align-items: center;
    background-color: beige;
    padding-right: 50px;
}
.photo_hero {
    margin-top: 0px;
}
.contacts_hero {
    margin-left: 30px;
}
.right {
    padding-left: 100px;
}
body, html {
    height: 100%;
}
.container {
    height: 100%;
}
.contacts_hero {
    margin-top: 40px;
}
.profile_descr {
    color: rgb(73, 0, 0);
    margin-bottom: 40px;
    border-bottom: 3px solid #FF8C00;
}
.summary, .code, .education, .english, .skills, .work {
    border-bottom: 2px dotted #808080;
}
