@font-face {
    font-family: 'Montserrat';
    src: url("assets/fonts/static/Montserrat-Regular.ttf");
}
body {
    font-family: 'Montserrat';
}
h1 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 800;
    margin-bottom: -20px;
}
h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: -10px;
}
h3 {
    font-family: 'Montserrat';
    font-weight: 400;
}
.about_me, .skills, .work_exp, .education, .english {
    margin-bottom: 40px;
}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
html {
    scroll-behavior: smooth; 
  }
.nav-list {
    list-style: none;
  }
.nav-link {
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color: beige;
}
.nav-link {
    transition: .3s;
  }
.header {
    width: 100%;
    background-color: #808080;
    height: 60px;
}
